<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Home</h1>
    <p class="lead">Bienvenido </p>
    <a class="btn btn-lg btn-primary" href="/tasks" role="button">Ver listado &raquo;</a>
  </div>
</main>
